.row {
  display: flex;
  flex-wrap: wrap;


  @mixin atMedium {
    flex-wrap: nowrap;

    &__medium-4 {
      width: 33.33%
    }

    &__medium-8 {
      width: 66.66%;
    }
  }

  &--gutters {
    @mixin atMedium {
      gap: 65px;
    }

  }

}