.row {
  display: flex;
  flex-wrap: wrap;

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    flex-wrap: nowrap;

    &--gutters {
      gap: 65px;
    }

    &--gutters-large {
      gap: 100px;
    }

    &__medium-4 {
      width: 33.33%
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      width: 50%;
    }

    &__medium-8 {
      width: 66.66%;
    }

    &__medium-8--smaller {
      width: 63%;
    }

    &__b-margin-until-medium {
      margin-bottom: 0;
    }
  }

}